<%= simple_form_for(@provider) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name %>
  </div>

  <div class="form-group">
    <%= f.button :submit, value: t('buttons.save'), class: 'btn btn-default' %>
    <%= link_to t('navigation.back'), providers_path %>
  </div>
<% end %>
