<%= simple_form_for(@provider) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: t('buttons.save') %>
    <%= link_to t('navigation.back'), providers_path %>
  </div>
<% end %>
