<h3><%= t('.title') %></h3>

<%= render partial: "shared/notice", notice: notice %>

<% if @providers.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th style="width: 195px;"></th>
      </tr>
    </thead>

    <tbody>
      <% @providers.each do |provider| %>
        <tr id="provider_<%= provider.id %>">
          <td><%= provider.name %></td>
          <td id="actions">
            <%= link_to edit_provider_path(provider), class: 'btn btn-info' do %>
              <span class="glyphicon glyphicon-edit"></span>
              <%= t('.edit') %>
            <% end %>
            <%= link_to provider, class: 'btn btn-danger', method: :delete do %>
              <span class="glyphicon glyphicon-minus-sign"></span>
              <%= t('.destroy') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('.no_providers') %></p>
<% end %>

<%= link_to new_provider_path, class: 'btn btn-success' do %>
  <span class="glyphicon glyphicon-plus-sign"></span>
  <%= t('.new_provider') %>
<% end %>
