<h1><%= t('.title') %></h1>

<p id="notice"><%= notice %></p>

<% if @providers.present? %>
  <table>
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @providers.each do |provider| %>
        <tr id="provider_<%= provider.id %>">
          <td><%= provider.name %></td>
          <td><%= link_to t('.edit'), edit_provider_path(provider) %></td>
          <td><%= link_to t('.destroy'), provider, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('.no_providers') %></p>
<% end %>

<br>

<%= link_to t('.new_provider'), new_provider_path %>
