<h1>Listing providers</h1>

<p id="notice"><%= notice %></p>

<% if @providers.present? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @providers.each do |provider| %>
        <tr id="provider_<%= provider.id %>">
          <td><%= provider.name %></td>
          <td><%= link_to 'Show', provider %></td>
          <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
          <td><%= link_to 'Destroy', provider, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Não existem fornecedores salvos</p>
<% end %>

<br>

<%= link_to 'New Provider', new_provider_path %>
