<%= simple_form_for @product do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name %>
    <%= f.association :provider %>
  </div>

  <div class="form-group">
    <%= f.button :submit, value: t('buttons.save'), class: 'btn btn-default' %>
    <%= link_to t('navigation.back'), products_path %>
  </div>
<% end %>
