<h1>Listing products</h1>

<p id="notice"><%= notice %></p>

<% if @products.present? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Provider</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr id="product_<%= product.id %>">
          <td><%= product.name %></td>
          <td id="provider"><%= product.provider.name %></td>
          <td><%= link_to 'Show', product %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td id="destroy"><%= link_to 'Destroy', product, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Não existem produtos salvos</p>
<% end %>

<br>

<%= link_to 'New Product', new_product_path %>
