<h3><%= t('.title') %></h3>

<%= render 'shared/notice', notice: notice %>

<% if @products.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.provider') %></th>
        <th><%= t('.total_count') %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr id="product_<%= product.id %>">
          <td><%= product.name %></td>
          <td id="provider"><%= product.provider.name %></td>
          <td id="total_count"><%= product.total_count %></td>
          <td id="actions">
            <%= link_to edit_product_path(product), class: 'btn btn-info' do %>
              <span class="glyphicon glyphicon-edit"></span>
              <%= t('.edit') %>
            <% end %>
            <%= link_to product, class: 'btn btn-danger', method: :delete do %>
              <span class="glyphicon glyphicon-minus-sign"></span>
              <%= t('.destroy') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('.no_products') %></p>
<% end %>

<%= link_to new_product_path, class: 'btn btn-success' do %>
  <span class="glyphicon glyphicon-plus-sign"></span>
  <%= t('.new_product') %>
<% end %>
