<h1><%= t('.title') %></h1>

<p id="notice"><%= notice %></p>

<% if @products.present? %>
  <table>
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.provider') %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr id="product_<%= product.id %>">
          <td><%= product.name %></td>
          <td id="provider"><%= product.provider.name %></td>
          <td><%= link_to t('.edit'), edit_product_path(product) %></td>
          <td id="destroy"><%= link_to t('.destroy'), product, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('.no_products') %></p>
<% end %>

<br>

<%= link_to t('.new_product'), new_product_path %>
