<h1><%= t('.title') %></h1>

<p id="notice"><%= notice %></p>

<% if @warehouses.present? %>
  <table>
    <thead>
      <tr>
        <th><%= t('.street') %></th>
        <th><%= t('.number') %></th>
        <th><%= t('.complement') %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @warehouses.each do |warehouse| %>
        <tr id="warehouse_<%= warehouse.id %>">
          <td><%= warehouse.street %></td>
          <td><%= warehouse.number %></td>
          <td><%= warehouse.complement %></td>
          <td><%= link_to t('.edit'), edit_warehouse_path(warehouse) %></td>
          <td id="destroy"><%= link_to t('.destroy'), warehouse, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('.no_warehouses') %></p>
<% end %>

<br>

<%= link_to t('.new_warehouse'), new_warehouse_path %>
