<h1><%= t('.title') %></h1>

<%= render partial: "shared/notice", notice: notice %>

<% if @warehouses.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('.street') %></th>
        <th><%= t('.number') %></th>
        <th><%= t('.complement') %></th>
        <th style="width: 195px;"></th>
      </tr>
    </thead>

    <tbody>
      <% @warehouses.each do |warehouse| %>
        <tr id="warehouse_<%= warehouse.id %>">
          <td><%= warehouse.street %></td>
          <td><%= warehouse.number %></td>
          <td><%= warehouse.complement %></td>
          <td id="actions">
            <%= link_to edit_warehouse_path(warehouse), class: 'btn btn-info' do %>
              <span class="glyphicon glyphicon-edit"></span>

              <%= t('.edit') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('.no_warehouses') %></p>
<% end %>

<%= link_to new_warehouse_path, class: 'btn btn-success' do %>
  <span class="glyphicon glyphicon-plus-sign"></span>
  <%= t('.new_warehouse') %>
<% end %>

