<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to t('application'), root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to t('header.warehouses'), warehouses_path %></li>
        <li><%= link_to t('header.products'), products_path %></li>
        <li><%= link_to t('header.providers'), providers_path %></li>
        <li><%= link_to t('header.inputs'), inputs_path %></li>
        <li><%= link_to t('header.outputs'), outputs_path %></li>
        <li><%= link_to t('header.stocks'), stocks_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if current_employee.present? %>
            <%= link_to t('header.logout'), destroy_employee_session_path, method: :delete %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
